<div id = "pretty">
<h2>Partners</h2>
<table border="2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Identity Number</th>
        <th>Email</th>
        <th>Cell Number</th>
        <th>Licence Number</th>
      </tr>
    </thead>

{{#partners}}
<tbody>
	<tr>
	  <td><h5>{{name}}</h5></td>
	  <td><h5>{{surname}}</h5></td>
	  <td><h5>{{identity_number}}</h5></td>
	  <td><h5>{{email}}</h5></td>
	  <td><h5>{{cell_number}}</h5></td>
	  <td><h5>{{licence_number}}</h5></td>
	</tr>
</tbody>
{{/partners}}
</table>

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div id="add">
	
	<h4>Add a partner</h4>
	<form action="partners/add" method="POST">
	    Surname: <input type="text" name="surname"> <br />
	    <br />	
		Name: <input type="text" name="name">
	    <br />
		<br />
		Identity Number: <input type="number" name="identity">
	    <br />
		<br />
		Cell Number: <input type="tel" name="cell"> <br />
		<br />
		Licence Number: <input type="number" name="licence"> <br />
		<br />
		Email : <input type="email" name="email"> <br />
		Address: <input type="text" name="address">
	    <br />
		<input type="submit">
	</form>
  </div>
</div>